body {
  height: 100vh;
  padding: 0 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 405px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
  width: 300px;
}

.input-monto {
  width: 100%;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #999;
}

.input-monto:hover {
  background: #f5f5f5;
}

.input-monto:focus {
  outline: none;
}

.tipos {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.tipos input {
  margin-right: 5px;
}

.btn-submit {
  margin-top: 30px;
  width: 100%;
  background-color: chartreuse;
  border: none;
  border-radius: 5px;
  padding: 5px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.btn-submit:hover {
  outline: 2px solid #212529;
}

.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  min-width: 325px;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 30px 0;
  border-radius: 10px;
  border: 1px solid #999;
}

.bi-search {
  position: absolute;
  left: 10px;
}

.search-input {
  width: 100%;
  background: transparent;
  border: none;
  border-radius: 10px;
  padding: 5px 0 5px 40px;
}

.search-input:hover {
  background: #f5f5f5;
}

.search-input:focus {
  outline: none;
}

.container-table {
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 426px;
}

.container-table::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 12px;
}

.container-table::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 10px;
  border: 3px solid #f5f5f5;
}

.container-table::-webkit-scrollbar-track-piece {
  background: transparent;
  border-radius: 10px;
}

button {
  background: transparent;
  border: none;
}

button.btn-eliminar {
  color: red;
}

button.btn-modificar {
  color: blue;
}
